.timer-body {
    max-width: 400px;
    margin: 2rem auto;
    font-family: 'Trebuchet MS';
    text-align: center;
}

.timer {
    font-size: xx-large;
}

.buttonts button {
    padding: .5rem;
    margin: 1rem .5rem;
}